/*@media only screen and (min-width:600px){*/
	body{
		margin:0px;
		padding:0px;
	}
	
	
	.content{	
		background-image:url(images/DestinationMoon.jpg);
		background-repeat:no-repeat;
		background-position: center;
		height:750px;
		width:100%;
		opacity: 1;
	}
	
	.container{
		padding: 10px;
		margin: 5px;
	}
	
	.header{
		/*background-color: rgba(0, 0, 0, 0.68);*/
		height: auto;
		width:100%;
	}
	
	.nav{
		background-color: rgba(0, 0, 0, 0.60);
		position: fixed;
		float: left;
		width:100%;
		margin: -4.5px;
		margin-bottom: auto;
		height:50px;
		display:flex;
		justify-content: space-between;
		padding: 3px;
	}
	
	.items{
		display:flex;
		float: right;
		padding: 0px;
		margin-right:0px;
	}
	
	.nav-items{
		padding: 0px;
		margin:0px;
	}
	
	.logo{
		height: 3em;
		margin-top: 1em;
		margin-left: 40px;
		float:left;
	}
	
	a{
		color: #ffffffc4;
	}

	:hover a{

	}
	.item-deco{
		text-decoration:none;
	}
	ul{
		margin-right: -40em;
	}
	
	li{
		text-decoration:none;
		text-transform: uppercase;
		font-family:Arial, Helvetica, sans-serif;
		float:left;
		display: flex;
		padding-right: 3px;
		margin:10px;
		color:#aaa;
	}
	
	.col{
		column-width:50%;
	}
	
	/*.content{
		padding:0px;
		margin-left:50px;
	}*/
	
	.slogan{
		position:relative;
		text-align:justify;
		font-size:3rem;
		font-weight:bold;
		font-family: Arial, Helvetica, sans-serif;
		padding:1.5em;
		margin-bottom:30px;
		margin-top: 2.5em;
		margin-left:1.5em;
		line-height:0;
		color:white;
	}
	
	.title{
		font-family: Arial, Helvetica, sans-serif;
		text-align:justify;
		font-size:2.5rem;
		padding-top:0px;
		margin-left: 3.8em;
		margin-top: -1em;
		color:white;
	}

	.plus-top{
		color: #009fdf;
		margin-right:0em;
		margin-bottom:-0.5em;
		margin-inline-start:-0.5em;
	}

	.plus-bottom{
		color: #009fdf;
		margin-top:-0.4em;
		margin-inline-start:6.7em;
	}

	div .explore-mission {
			box-sizing: border-box;
			width: max-content;
			height: 4em;
			padding: 20px;  
			border: 2px solid #009fdf;
			font-size: 2ex;
			margin-top: -1em;
			margin-left:11em;
			color:white;
			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;

		  }

/*}*/